<div class="main-container">
  <h3>Contratos</h3>
  <div class="tip-buttons-row">
    <button mat-raised-button (click)="Novo()">Novo</button>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Código</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome do cliente</th>
        <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef>Tipo de Contrato</th>
        <td mat-cell *matCellDef="let element">{{ element.tipo }}</td>
      </ng-container>

      <ng-container matColumnDef="quantidade">
        <th mat-header-cell *matHeaderCellDef>Quantidade</th>
        <td mat-cell *matCellDef="let element">{{ element.quantidade }}</td>
      </ng-container>

      <ng-container matColumnDef="valorNegociado">
        <th mat-header-cell *matHeaderCellDef>Valor Negociado</th>
        <td mat-cell *matCellDef="let element">{{ element.valorNegociado }}</td>
      </ng-container>

      <ng-container matColumnDef="inicio">
        <th mat-header-cell *matHeaderCellDef>Início do contrato</th>
        <td mat-cell *matCellDef="let element">{{ element.inicio }}</td>
      </ng-container>

      <ng-container matColumnDef="duracaoEmMeses">
        <th mat-header-cell *matHeaderCellDef>Duração em meses</th>
        <td mat-cell *matCellDef="let element">{{ element.duracaoEmMeses }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let contrato">
          <button
            mat-button
            matTooltip="Clique para excluir"
            color="warn"
            (click)="Excluir(contrato)"
          >
            Excluir
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <ng-container matColumnDef="noRecord">
        <td mat-footer-cell colspan="8" *matFooterCellDef>Nenhum registro encontrado</td>
      </ng-container>

      <ng-template [ngIf]="dataSource.data.length === 0">
          <tr mat-footer-row *matFooterRowDef="['noRecord']"></tr>
      </ng-template>
    </table>
  </div>
</div>
