<h1 mat-dialog-title>Cadastro de Cliente</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field class="imput-full-width">
      <input matInput placeholder="Nome" [(ngModel)]="nome" name="formNome" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="Salvar()">Salvar</button>
  <button mat-button (click)="Cancelar()">Cancelar</button>
</div>
