<mat-toolbar><small>Gestão de Contratos</small></mat-toolbar>
<mat-nav-list>
  <a mat-list-item routerLink="/autenticacao" routerLinkActive="active">Login</a>
  <a mat-list-item routerLink="/clientes">Clientes</a>
  <a mat-list-item routerLink="/contratos">Contratos</a>
</mat-nav-list>
