<h1 mat-dialog-title>Cadastro de Contrato</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field class="imput-full-width">
      <input
        type="text"
        placeholder="Cliente"
        aria-label="Number"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option.nome"
        >
          {{ option.nome }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="imput-full-width">
      <input matInput placeholder="Tipo" name="formTipo" />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Tipo de Contrato</mat-label>
        <mat-select [(value)]="tipoSelecionado">
          <mat-option value="0">Compra</mat-option>
          <mat-option value="1">Venda</mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field class="imput-full-width">
      <input matInput placeholder="Quantidade" type="number" name="formQuantidade" />
    </mat-form-field>

    <mat-form-field class="imput-full-width">
      <input matInput placeholder="Valor Negociado" type="number" name="formValorNegociado" />
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="dp" placeholder="Ano e Mês" formControl="date">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp
                      startView="multi-year"
                      panelClass="month-picker">
      </mat-datepicker>
    </mat-form-field>

    <mat-form-field class="imput-full-width">
      <input matInput placeholder="Duração de Meses" type="number" name="formDuracaoDeMeses" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="Salvar()">Salvar</button>
  <button mat-button (click)="Cancelar()">Cancelar</button>
</div>
